body{
    margin: 0;
    
    
}
.blok1{
    background-color: green;
    height: 75px;
}
.box{
    display: flex;
   
}
.box1{
    background-color: yellow;
    height: 25px;
    flex: 1;
}
.box2{
    background-color: red;
    height: 25px;
    flex: 1;

}
.box3{
    background-color: orange;
    height: 25px;
    flex: 3;

}
.box4{
    background-color: yellow;
    height: 25px;
    flex: 1;


}
.blok2{
    background-color: silver;
    height: 300px;
}
.conty{
    
    width: 100%;
    display: flex;
     justify-content: center; /*מרכז את האלמנטים לאמצע העמוד */
    
}
.conty1{
    background-color: aqua;
    height: 200px;
    width: 400px;
    
}
.conty2{
    background-color: purple;
    height: 200px;
    width: 400px;

}